<html lang="ja" ng-app="MyApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <style type="text/css">
    <!--
    img {
      /*width: 300px;*/
      /*border-radius: 100px;*/
      /*
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
      */
    }
    -->
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./js/channel.js"></script>
    <script language="javascript">
      angular.module("MyApp", ["ui.bootstrap"]);
    </script>
  </head>
  <body>
    <section class="container" ng-controller="mainCtrl">
      <h1>PeerCast {{channels.length}} channels.</h1>
      <!--<input type="text" ng-model="name.name">-->
      <div class="row" line-height="15px">
        <!--<p>{{channels.length}} channels.</p>-->
        <!--<div class="col-md-6 media" ng-repeat="channels in channels|orderBy:'-icon'|filter:name">-->
        <div class="col-md-6 media" ng-repeat="channel in channels">
          <!--<a href="{{channel.contactUrl}}" class="media-left">-->
          <a href="#" ng-click="play(channel)" class="media-left">
            <img class="img-circle media-object" src="{{channel.icon}}" width="60px" align="left">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><b>{{channel.name}}</b></h4>
            <p font-weight="100" style="color: #808080">【{{channel.genre}}】{{channel.details}}</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
